ProstateCancerClassificationModel/DataFrames/PandaTiles/masks/
ProstateCancerClassificationModel/DataFrames/PandaTiles/train/
ProstateCancerClassificationModel/DataFrames/ProstateCancerGradeAssessment/train_images/
ProstateCancerClassificationModel/DataFrames/ProstateCancerGradeAssessment/train_label_masks/
ShipsSatelliteImageClassification/SatelliteImageryofShips/no-ship/
ShipsSatelliteImageClassification/SatelliteImageryofShips/ship/
ShipsSatelliteImageClassification/ShipsinSatelliteImagery/scenes/
ShipsSatelliteImageClassification/ShipsinSatelliteImagery/shipnet/